html, body {
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom, rgb(255, 254, 254), gray);
    font-family: 'Courier New', Courier, monospace;
}
  

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Define the columns: 1fr for the navigation tabs, 3fr for the routes */
    height: 100vh;
}

.main-pages {
    padding: 5px;
}